.select-items div,
.select-selected {
    border-color: #c1c1c1;
}

.cm-checkout-country-dd .select-selected:after {
    right: 18px;
}

/* focused-navigation */
.focused-navigation {
    padding: 0 35px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.focused-navigation ul {
    position: relative;
    max-width: 1367px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.focused-navigation .back {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.focused-navigation ul li {
    display: inline-block;
}

.focused-navigation .back a {
    transition: color 200ms ease;
    font-size: 1em;
}

.focused-navigation .back a i.fa::before {
    font-size: 12px;
}

.focused-navigation .secure-notice h6 i.fa::before {
    font-size: 12px;
}

/* tunnel-template */
.tunnel-container {
    width: 100%;
    max-width: 1437px;
    margin: 80px auto 0 auto;
    padding: 0 35px;
}

.tunnel-content {
    display: inline-block;
    margin-right: -5px;
    width: 75%;
}

/* tunnel-stages */
.tunnel-progress {
    margin-bottom: 90px;
}

.tunnel-stages .stage {
    display: inline-block;
    width: 33.3333%;
    margin-right: -5px;
    padding: 0 5px;
    text-align: center;
    color: #949494;
}

.tunnel-stages .stage:first-child {
    padding-left: 0;
}

.tunnel-stages .stage.active,
.tunnel-stages .stage.active .number {
    color: #000;
    border-color: #000;
}

.tunnel-stages .stage .number {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    font-size: 1.286em;
    border: 1px solid #949494;
    letter-spacing: 0.035em;
    border-radius: 50%;
}

.tunnel-stages .stage h5 {
    margin-top: 5px;
    font-weight: normal;
}

.tunnel-stages .stage .border {
    position: relative;
    width: 100%;
    height: 6px;
    margin-top: 11px;
    background: #c1c1c1;
}

.tunnel-stages .stage.active .border {
    background: #000;
}

.tunnel-stages .stage .border:after,
.tunnel-stages .stage .border:before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

.tunnel-stages .stage .border:after {
    left: 100%;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #c1c1c1;
}

.tunnel-stages .stage.active .border:after {
    border-left-color: #000;
}

/* basket */
.item-table {
    width: 100%;
    margin: 0 auto;
}

.table-header {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 19px 0;
}

.tunnel-template .item-table .table-header {
    position: relative;
}

.tunnel-template .item-table .table-header>h6 {
    color: #949494;
}

.tunnel-template .item-table .item-price,
.tunnel-template .item-table .item-size,
.tunnel-template .item-table .quantity,
.tunnel-template .item-table .total-price {
    position: absolute;
    top: 50%;
    width: 20%;
    text-align: center;
    transform: translateY(-50%);
}

.item-table .item-details {
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    width: 100%;
    max-width: 160px;
    line-height: 1.429em;
    padding-left: 15px;
}

.tunnel-template .item-table .item-price {
    left: 35%;
}

.tunnel-template .item-table .item-size {
    left: 50%;
}

.tunnel-template .item-table .quantity {
    left: 65%;
}

.tunnel-template .item-table .total-price {
    right: 0;
    width: 12.5%;
    text-align: right;
}

/* table-content */
.tunnel-template .item-table .table-content {
    position: relative;
}

.item-table .item {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
}

.item-table .item-image {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin: 0;
    margin-right: -5px;
}

.item-table .item-image img {
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    line-height: 1em;
    transform: translate(-50%, -50%);
}

.item-table .item-details {
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    width: 100%;
    max-width: 160px;
    line-height: 1.429em;
    color: #000;
    padding-left: 15px;
}

.item-table .item-details a {
    font-size: 14px;
}

.item-table .item-details .item-code {
    line-height: 2.000em;
    font-size: 0.857em;
}

.tunnel-template .item-table .item-size {
    left: 50%;
}

.tunnel-template .item-table .item-price {
    left: 35%;
}

.item-table .sale-price {
    position: relative;
    color: #8f0000;
}

.item-table .sale-price:after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: #8f0000;
}

.item-table .item-details .quantity {
    font-size: 0.857em;
}

.item-table .item-details .quantity-widget {
    display: flex;
    justify-content: center;
}

.item-table .item-details .decrement,
.item-table .item-details .increment,
.item-table .item-details .quantity-input {
    display: inline-block;
    margin-right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #f2f2f2;
    text-align: center;
    font-size: 1em;
}

.item-table .item-details .decrement:after {
    content: "-";
    line-height: 28px;
    font-size: 24px;
}

.item-table .item-details .increment:after {
    content: "+";
    line-height: 28px;
    font-size: 18px;
}

/* section-wrapper */
.section-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.section-wrapper:after {
    content: "";
    clear: both;
    display: table;
}

/* discounts */
.discounts {
    float: left;
    width: 29.354207436399216%;
    margin-right: 4.10958904109589%;
}

.discounts>h6 {
    color: #949494;
    margin-bottom: 20px;
}

.discounts .standard-form {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: -3px;
    padding: 20px;
    background: #f8f8f8;
}

.ty-input-append {
    position: relative;
    margin: 10px 0 0 0;
}

.discounts .input-wrapper {
    position: relative;
    float: left;
    width: 70%;
    margin-top: 0;
}

.standard-form input[type=text],
.standard-form input[type=email] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.1em;
    margin: 0;
    outline: none;
    border: 1px solid #c1c1c1;
    transition: border-color 200ms ease;
    resize: none;
    border-radius: 0;
}

.discounts .ty-input-append .ty-input-text {
    padding: 11px 10px 8px 10px;
    border-color: #fff;
}

.discounts .submit-wrapper {
    position: relative;
    float: left;
    width: 30%;
    overflow: hidden;
    background: #cdcdcd;
}

.discounts .submit-wrapper .submit {
    width: 100%;
    background: none;
    cursor: pointer;
}

/* basket-end */
.basket-end {
    float: left;
    width: 66.53620352250489%;
}

/* order-summary */
.basket-end .order-summary {
    margin-bottom: 20px;
}

.basket-end .order-summary .item {
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
}

.basket-end .order-summary>.item:first-child {
    padding-top: 0;
}

.order-summary .item h6 {
    float: left;
    color: #949494;
}

.order-summary .item>p {
    float: right;
}

.basket-end .order-summary .item:after {
    content: "";
    clear: both;
    display: table;
}

/* shipping */
.shipping-selection .shipping-dropdowns {
    display: inline-block;
    margin-right: -5px;
    vertical-align: middle;
    width: 66.17647058823529%;
}

.shipping-selection fieldset {
    display: inline-block;
    width: 100%;
    margin: 17px 0;
}

.shipping-selection fieldset legend {
    font-size: 0.857em;
    text-transform: uppercase;
    color: #949494;
    margin-bottom: 10px;
}

.shipping-selection .shipping-amount {
    display: inline-block;
    vertical-align: middle;
    width: 33.80352941176471%;
    text-align: right;
    float: right;
    margin-top: 15%;
}

.shipping-selection .shipping-amount h6 {
    display: none;
}

/* basket-total */
.basket-total {
    position: relative;
    margin-top: 27px;
    padding: 30px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.basket-total h6 {
    float: left;
    font-size: 1em;
}

.basket-total .amount {
    float: right;
    font-size: 1.286em;
}

/* cm-checkout */
.cm-checkout-processed-button {
    float: right;
}

.basket-end .onward-options .basic-button {
    display: block;
    max-width: 224px;
    margin: 60px auto 20px auto;
    padding: 25px 0 22px 0;
    background: #000;
    color: #fff;
    font-size: 0.857em;
}

.basket-end .onward-options .basic-button {
    margin-top: 20px;
    border-color: #000;
    min-width: 224px;
}

/* add-cart-page-buttons */
.add-cart-page-buttons {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}

.inline-block {
    display: inline-block;
}

.or-text-buttons {
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 22px;
    vertical-align: top;
    display: inline-block;
}

button.cm-cart-payexp-button {
    background-image: none;
    color: #fff;
    text-transform: uppercase;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
    border: 0px solid #000;
    min-width: 240px;
    height: 60px;
}

.cm-cart-payexp-button .fa-paypal {
    display: inline-block;
    margin: 0 8px 0 12px;
}

.cm-cart-payexp-button .fa-paypal:before {
    color: #fff;
    font-size: 1.343em;
}

.cm-cart-payexp-button .checkout_pp_icon {
    display: inline-block;
    line-height: 1.16em;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
}

/* tunnel-sidebar */
.tunnel-sidebar {
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    margin-left: 4.02046783625731%;
    width: 20.97953216374269%;
    background: #f8f8f8;
}

.tunnel-sidebar .tunnel-sidebar-inner {
    background: #f8f8f8;
    padding: 47px 25px;
    max-width: 286px;
}

.tunnel-sidebar-inner>article {
    border-top: 1px solid #ebebeb;
    padding: 26px 0;
    letter-spacing: 0.05em;
}

.tunnel-sidebar-inner>article:first-child {
    border: 0;
    padding-top: 0;
}

.tunnel-sidebar-inner>article h5 {
    margin-bottom: 20px;
    font-weight: normal;
}

.tunnel-sidebar-inner>article h5 {
    margin-bottom: 20px;
    font-weight: normal;
}

.tunnel-sidebar-inner p.delivery-time i.fa::before {
    font-size: 18px;
}

.tunnel-sidebar-inner p.email i.fa::before {
    font-size: 14px;
}

.tunnel-sidebar-inner>div.art-elm {
    border-top: 1px solid #ebebeb;
    padding: 26px 0;
    letter-spacing: 0.05em;
}

.tunnel-sidebar-inner>div.art-elm:last-child {
    padding-bottom: 0;
}

.standard-list {
    list-style: none;
    margin-left: 17px;
}

.tunnel-sidebar-inner>div.art-elm ul li {
    position: relative;
}

.standard-list li::before {
    position: absolute;
    top: -1px;
    left: -17px;
    content: ">";
    font-size: 0.500em;
}

/* focused-footer */
.focused-footer {
    max-width: 1437px;
    margin: 20px auto 40px auto;
    padding: 0 35px;
}

.focused-footer>ul {
    position: relative;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.focused-footer>ul>li {
    display: inline-block;
}

.focused-footer .back {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.focused-footer .back h6 a {
    transition: color 200ms ease;
    font-size: 1em;
}

.focused-footer .copyright {
    color: #949494;
}

.focused-footer .payment-options {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.focused-footer>ul:after {
    display: table;
    clear: both;
    content: "";
}

/* checkout */
.checkout {
    position: relative;
    border-top: 1px solid #ebebeb;
}

.checkout-form .active {
    display: block;
}

.tunnel-body-section {
    border-top: 1px solid #ebebeb;
    padding-top: 50px;
    padding-bottom: 70px;
}

.tunnel-body-section:first-child {
    border-top: 0;
}

.tunnel-body-section .section-title {
    float: left;
    width: 33.463796477495106%;
}

.tunnel-body-section .section-title h5 {
    font-weight: normal;
    font-size: 1em;
}

.tunnel-body-section .section-body {
    float: left;
    width: 66.53620352250489%;
}

.tunnel-body-section:after {
    content: "";
    clear: both;
    display: table;
}

.checkout .form-header {
    color: #949494;
}

.ty-control-group {
    margin: 0 0 12px 0;
    vertical-align: middle;
}

.tunnel-body.checkout .ty-control-group {
    margin-bottom: 0;
}

.checkout fieldset {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.checkout .half-column:first-child {
    padding-right: 10px;
}

.tunnel-body.checkout .ty-control-group {
    margin-bottom: 0;
}

.checkout .half-column {
    float: left;
    width: 50%;
}

.checkout .mailing-list-checkbox {
    padding-bottom: 50px;
    border-bottom: 1px solid #ebebeb;
}

.checkout .standard-checkbox {
    margin: 32px 0;
}

.checkout .delivery-address-checkbox {
    margin-top: 15px;
    margin-bottom: 10px;
}

.checkout .delivery-address-checkbox label {
    width: 100%;
    background: #f8f8f8;
    padding: 30px;
    vertical-align: middle;
}

.standard-checkbox input {
    display: none;
}

.standard-checkbox.on-light .alt-checkbox {
    background: #fff;
    border-color: #c1c1c1;
}

.standard-checkbox .alt-checkbox {
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 1px;
    margin-right: 10px;
    border: 1px solid #535353;
    transition: border-color 150ms ease;
}

.checkout .standard-checkbox label {
    vertical-align: middle;
    width: 100%;
}

.standard-checkbox label {
    display: inline-block;
    line-height: 1em;
    cursor: pointer;
}

.standard-checkbox label .inner:before {
    opacity: 0;
    content: "";
    position: relative;
    display: block;
    left: 2.5px;
    top: 0px;
    width: 3px;
    height: 6px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.standard-checkbox input:checked+label .inner:before {
    opacity: 1;
}

.checkout .delivery-form {
    display: none;
}

.checkout .delivery-form.active {
    display: block;
}

.checkout .terms-checkbox label a {
    border-bottom: 1px solid #a3a3a3;
    line-height: 1em;
}

.overview-item {
    border-top: 1px solid #ebebeb;
    padding: 30px 0;
}

.overview-item>h6,
.overview-item>p {
    display: inline-block;
    width: 50%;
    margin-right: -5px;
    vertical-align: middle;
}

.overview-item>p {
    text-align: right;
}

.checkout-overview>h6 {
    color: #949494;
}

.checkout .submit-buttons {
    display: block;
    width: 100%;
}

.checkout .submit-buttons.ecl-payments .submit-button fieldset {
    margin: 10px 0;
}

.checkout .submit-buttons .basic-button {
    font-size: 1em;
    letter-spacing: 2.5px;
    padding: 10px 0;
    width: 100%;
    border: 0;
    line-height: 1em;
    background: #000;
    color: #fff;
}

.checkout .submit-buttons .basic-button-paypal {
    padding: 18px 0 16px 0;
}

.checkout .submit-buttons .basic-button-pay {
    padding: 14px 0;
}

.checkout .submit-buttons .basic-button-paypal i {
    font-weight: bold;
    text-transform: none;
    font-size: 17px;
    margin-left: 10px;
}

