/* footer */
.main-footer {
    background: #501209;
    color: #fff;
}

.main-footer-inner {
    width: 100%;
    max-width: 317px;
    margin: 0 auto !important;
    padding-top: 30px;
    float: none !important;
    text-align: center;
}

.main-footer-inner {
    max-width: 1430px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

/* footer-menu-container  */
.footer-menu-container {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 50px);
}

.footer-menu-container .ty-sidebox {
    width: calc(25% - 15px);
}

.ty-sidebox {
    margin-bottom: 44px;
    word-wrap: break-word;
}

.ty-sidebox__title {
    position: relative;
    padding: 0px 30px 9px 0px;
    border-bottom: 1px solid #edeff1;
}

.footer-menu-container h2 {
    color: #fff;
    font-size: 12px;
    text-align: left;
    margin-top: 8px;
}

.footer-menu-container .ty-sidebox__title {
    padding: 0 0 5px;
    border: none;
}

.ty-sidebox__title-wrapper,
.ty-sidebox__title span,
.ty-sidebox__title a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #a1a6aa;
    padding: 0;
}

.footer-menu-container .ty-sidebox__title span,
.footer-menu-container .ty-sidebox__title a {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
}

.ty-sidebox__icon-open,
.ty-sidebox__icon-hide {
    margin-top: 6px;
}

.ty-sidebox__body {
    display: block;
}

.main-footer .site-links {
    display: inline-block;
    width: 50%;
    margin-right: -5px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.main-footer .site-links {
    vertical-align: top;
}

.main-footer .site-links {
    margin-top: 0px;
    margin-bottom: 10px;
}

.main-footer .footer-menu-container .site-links {
    width: 100%;
    margin-right: 0;
    text-align: left;
}

.main-footer .site-links li {
    padding: 6px 0;
}

.main-footer a {
    color: #fff;
    transition: color 200ms ease;
}

.main-footer .site-links li a {
    text-transform: uppercase;
    font-size: 11px;
}

.main-footer a:hover {
    color: #c1c1c1;
}

/* footer-subscribe-block */
.footer-subscribe-block {
    width: 22%;
}

.newsletter {
    padding-top: 80px;
    background: #fff;
    text-align: center;
}

.newsletter-popup {
    background: #fff;
    max-width: 435px;
    padding: 45px 25px 30px;
    position: fixed;
    right: -100%;
    bottom: 30px;
    z-index: 1;
}

.main-footer .newsletter {
    margin-bottom: 40px;
}

.main-footer .newsletter {
    position: relative;
    width: 100%;
}

.footer-subscribe-block .newsletter-popup {
    background: none;
    border: 1px solid #fff;
    bottom: 0;
    padding: 35px 15px 20px 15px;
}

.footer-subscribe-block .newsletter-popup.show,
.footer-subscribe-block .newsletter-popup.hide {
    animation: none;
    -webkit-animation: none;
    right: 0px;
}

.footer-subscribe-block .newsletter-popup .newsletter-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
    margin-top: 0;
    line-height: 1.2em;
    text-transform: uppercase;
}

.footer-subscribe-block .newsletter-popup .newsletter-descr {
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: none;
    line-height: 1.7em;
    letter-spacing: 0px;
}

.main-footer .newsletter .email-input {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    border: 1px solid #fff;
    transition: border-color 200ms ease;
    border-radius: 0;
    line-height: 15px;
}

.footer-subscribe-block .newsletter-popup .newsletter-input-wrapper__inner input[type=text] {
    font-size: 14px;
    padding: 13px 20px;
}

.newsletter-popup .newsletter-radio-box-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-subscribe-block .newsletter-popup .newsletter-radio-box {
    margin-top: 10px;
    margin-bottom: 32px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.newsletter-radio-box__item {
    display: inline-block;
}

.newsletter-radio-box__item input[type="radio"] {
    display: none;
}

.standard-form input {
    background: #fff;
    border: 0;
    font-size: 0.857em;
    letter-spacing: 0.1em;
    color: #000;
    padding: 10px;
    outline: none;
}

.radio,
.checkbox,
input[type="radio"],
input[type="checkbox"] {
    margin: -4px 6px 0 0;
    padding: 0;
    vertical-align: middle;
}

.newsletter-radio-label {
    font-size: 1.37em;
    line-height: 1.26em;
    text-transform: uppercase;
    margin-left: 11px;
}

.standard-form label {
    display: inline-block;
}

.newsletter-radio-box__item .newsletter-radio-label {
    position: relative;
    display: inline-block;
    font-size: 19px;
    color: #333;
    line-height: 19px;
    letter-spacing: 0;
}

.newsletter-popup .newsletter-radio-box__item .newsletter-radio-label {
    margin-left: 0;
}

.footer-subscribe-block .newsletter-radio-box__item .newsletter-radio-label {
    font-size: 14px;
    color: #fff;
}

.newsletter-radio-box__item .newsletter-radio-label:before {
    content: "";
    margin-right: 11px;
    vertical-align: middle;
    border: 1px solid;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-color: #fff;
}

.newsletter-radio-box__item input[type="radio"]:checked+label:before {
    content: '';
    position: relative;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.newsletter-radio-box__item input[type="radio"]:not(:checked)+label:before {
    content: '';
    position: relative;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.newsletter-radio-box__item input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    margin-top: -1px;
    border-radius: 50%;
    background: #000;
    top: 7px;
    left: 7px;
}

.newsletter-popup .newsletter-submit-wrapper__inner {
    position: relative;
    top: 0;
    right: 0;
}

.standard-form input[type="submit"] {
    border: 0;
}

.newsletter-popup .newsletter-submit-wrapper__inner input {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-image: none;
    height: 46px;
    outline: none;
}

.main-footer .newsletter .submit {
    display: inline-block;
    background: none;
    text-transform: uppercase;
    margin: 0;
    padding: 14px 0 12px 0;
    transition: transform 200ms ease;
    cursor: pointer;
    line-height: 1.35em;
    font-size: 12px;
}

.footer-subscribe-block .newsletter-popup .submit {
    background: #fff;
    color: #000;
    font-size: 15px;
}

/* footer-social-block */
.footer-social-block {
    width: calc(30% - 40px);
}

.footer-top-content-block {
    display: flex;
    margin-bottom: 55px;
}

.footer-top-content-block__item {
    display: flex;
    align-items: center;
}

.footer-top-content-block__item img {
    margin-right: 20px;
}

.footer-top-content-block__item-text {
    text-transform: uppercase;
    font-size: 8px;
    text-align: left;
    line-height: normal;
}

/* .footer-top-content-block__item:first-child:after {
    content: '';
    width: 1px;
    height: 50px;
    display: block;
    margin: 0 20px;
    background: #fff;
} */

.footer-social-block .social {
    position: relative;
    border: 1px solid #fff;
    text-align: center;
    padding: 24px 10px;
}

.main-footer .social {
    margin-bottom: 40px;
}

.main-footer h6 {
    color: #fff;
    font-weight: normal;
    margin-top: 0;
}

.footer-social-block .social h6 {
    background: #000;
    padding: 0 12px;
    position: absolute;
    left: 20px;
    top: -10px;
    margin-bottom: 0;
}

.footer-social-block .social ul.link-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-block .social ul.link-list li i.fa::before {
    font-size: 16px;
    margin-right: 10px;
}

.footer-social-block .footer-payments {
    position: relative;
    border: 1px solid #fff;
    text-align: center;
    padding: 14px 10px;
}

.footer-social-block .footer-payments h6 {
    background: #000;
    padding: 0 12px;
    position: absolute;
    right: 20px;
    top: -10px;
    margin-bottom: 0;
}

.footer-social-block .footer-payments__list img {
    margin-right: 5px;
    vertical-align: middle;
}

.main-footer-inner:after {
    content: "";
    display: table;
    clear: both;
}

/* back-to-top */
.back-to-top {
    text-align: center;
    padding: 30px 0;
}

.back-to-top a {
    display: inline-block;
    transition: opacity 200ms ease;
    font-size: 1em;
    width: 100px;
}

.back-to-top .logo {
    width: 31px;
    height: 33px;
    margin: 0 auto 10px;
}

.back-to-top .logo span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://northskull.com/design/themes/responsive/media/images/logo.svg?1692992493) no-repeat;
    background-size: 250px 250px;
    background-position: -28px 44.9%;
}

@media only screen and (max-width:500px) { 
    .page-wrapper {
        position: relative;
        padding-top: 58px;
    }
    .main-footer-inner {
        max-width: 1430px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 0;
    }
    .main-footer-inner {
        width: 100%;
        margin: 0 auto !important;
        float: none !important;
        text-align: center;
    }
    .footer-subscribe-block {
        width: 100%;
    }
    .footer-menu-container {
        display: flex
    ;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-social-block {
        width: 100%;
        padding: 0 5% 3%;
    }
    .footer-menu-container {
        display: flex
    ;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }
    .footer-menu-container .ty-sidebox {
        width: 100%;
        padding: 12px 30px 16px;
        margin-bottom: 0;
        border-top: 1px solid #777;
    }
    .ty-sidebox {
        margin-bottom: 44px;
        word-wrap: break-word;
    }
    .footer-menu-container .ty-sidebox__title {
        padding: 0 0 5px;
        border: none;
        display: flex
    ;
        justify-content: space-between;
    }
    .footer-menu-container h2 {
        color: #fff;
        text-align: left;
        margin-top: 8px;
    }
    .ty-sidebox__title {
        position: relative;
        font-size: 19px;
        padding: 0 0 5px;
        border: none;
    }
    .ty-sidebox__body {
        display: none;
    }
    .footer-subscribe-block .newsletter-popup {
        background: none;
        border: 1px solid #ffffff00;
        bottom: 0;
        padding: 35px 15px 20px 15px;
    }
}
